name: pizza_repository
description: The Repo that handles pizza.
publish_to: 'none'
version: 0.0.1
environment:
  sdk: '>=3.0.5 <4.0.0'
dependencies:
  flutter:
    sdk: flutter

  cloud_firestore: ^4.9.2
  # cupertino_icons: ^1.0.2
  # flutter_bloc: ^8.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0


flutter:
  uses-material-design: true
